<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:0;padding-bottom:0">
	<!-- wp:pattern {"slug":"haarmann/hero"} /-->
	<!-- wp:pattern {"slug":"haarmann/welcome"} /-->
	<!-- wp:pattern {"slug":"haarmann/booking"} /-->
	<!-- wp:pattern {"slug":"haarmann/services"} /-->
	<!-- wp:pattern {"slug":"haarmann/about"} /-->
	<!-- wp:pattern {"slug":"haarmann/anreise"} /-->
	<!-- wp:pattern {"slug":"haarmann/gallery"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
